/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
header, footer {
    background-color: #343a40;
}

.nav-color {
    color: rgba(255, 255, 255, 0.5);
}

.move-left{
    margin-left: 20%;
}
footer {
    margin-bottom: 100px
}

p {
    padding: 2em;
    border: 1px dashed #CCC
}