@{
    ViewBag.Title = "Главная страница";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h2>@ViewData["Text"]</h2>
    <select asp-items="@ViewData["Lst"] as SelectList"></select>

    <h2 class="bold">
        Список
    </h2>

    <ol type="A">
        @for (int i = 1; i < 5; i++)
        {
            <li>элемент @i списка</li>
        }
    </ol>
    <hr />
    <div>
        <h2 class="bold"
            Форма
        </h2>

    </div>
</div>

<form method="post">
    <!-- Column of checkboxes -->

    <div class="form-check move-left">
        <input class="form-check-input" type="checkbox" value="on" id="defaultCheck1" name="Check1">
        <label class="form-check-label" for="defaultCheck1">Чек-бокс 1</label>
    </div>

    <div class="form-check move-left">
        <input class="form-check-input" type="checkbox" value="on" id="defaultCheck1" name="Check2">
        <label class="form-check-label" for="defaultCheck1">Чек-бокс 2</label>
    </div>
    <!-- Column of checkboxes -->
    <!-- Inline RadioOptons-->
    <div class="form-check-inline move-left">

        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="RadioOption1">
        <label class="form-check-label" for="inlineRadio1">Радио 1</label>

    </div>

    <div class="form-check-inline">

        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="RadioOtion2">
        <label class="form-check-label" for="inlineRadio2">Радио 2</label>

    </div>

    <div class="form-check-inline">

        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="RadioOption3">
        <label class="form-check-label" for="inlineRadio3">Радио 3</label>

    </div>
    <!-- Inline RadioOptons-->
    <!-- Loginning-->
    <div class="form-group row">
        <label for="inputLogin" class="col-sm-2 col-form-label">Логин</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="Login" id="inputLogin" placeholder="Имя пользователя">
        </div>
    </div>

    <div class="form-group row">
        <label for="inputPassword3" class="col-sm-2 col-form-label">Пароль</label>
        <div class="col-sm-10">
            <input type="password" class="form-control" name="Password" id="inputPassword" placeholder="Пароль">
        </div>
    </div>
    <!-- Loginning -->


    <div class="form-check">

        <button type="submit" class="btn btn-primary">Отправить</button>

    </div>




</form>

